@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Sacramento&family=Smooch&display=swap');


body {
  background-image: url('../Mountains.jpg');
  display: flex;
  height: 100%;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blue-chip {
  background-color: blue;
  color: white;
}

